{% extends 'base.html' %}

{% block content %}
{% load static %} 
<link rel="stylesheet" href="{% static 'style.css' %}">

<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">

    <!-- Icons -->
    <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!-- BLK• CSS -->
    <link href="{% static 'assets/css/blk-design-system.min.css' %}" rel="stylesheet">

</head>
<div class="container">
  <div class="shadow p-4 mb-5 bg-body rounded">
  <h1 style= "color: #706C61;">Daftar Guru</h1>
  
  <div class="row">
  {%for i in guru%}
  <div class="col-sm-3">
<div class="card" style="width: 15rem;">
<img class="card-img" src="{% static 'teacher-icon.png' %}" width="600" height="250" style="object-fit: cover;"/>
  <div class="card-body">
    <h5 class="card-title">{{ i.nama_lengkap }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ i.jenis_kelamin }}</h6>
    <p class="card-text">{{i.mata_pelajaran}}</p>
    
  </div>
</div>
</div>
{% endfor %}
<br>
<br>
<a href="/booking/pesan/" class="btn btn-primary">Book</a>
</div>
</div>
</div>
  
{% endblock content %}