<h3 class="mb-4 border-bottom pb-1">Filter</h3>
<div class="card bg-primary">
    <h5 class="card-header font-weight-bold">Kelas</h5>
    <div class="list-group list-group-flush">
        <li class="list-group-item bg-primary">
            <input class="filter-checkbox" data-filter="kelas" value="10" type="checkbox" />
            10
        </li>
        <li class="list-group-item bg-primary">
            <input class="filter-checkbox" data-filter="kelas" value="11" type="checkbox" />
            11
        </li>
        <li class="list-group-item bg-primary">
            <input class="filter-checkbox" data-filter="kelas" value="12" type="checkbox" />
            12
        </li>
    </div>
</div>