<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
  <link href="/static/assets/css/blk-design-system.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'js/core/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}" type="text/javascript"></script>
  <title>Jadwal</title>
  <style>
    option {
      background-color: white;
      color: black;
    }
    body {
    padding-top: 70px;
    }
    .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
  </style>
</head>

<body>
  <div class="container">
    {% include 'navbar.html' %}
    {% if is_guru %}
    <h1 class="title"> Jadwal Kelas </h1>
    <div class="row">
      <div class="col-md-2">
        {% include 'filter.html' %}
      </div>
      <div class="col-sm" id="jadwal">
        {% include 'jadwal_card.html' %}
      </div>
      <div class="col-sm">
        <h3>
          {% if edit %}
          Update Jadwal<br>
          {% else %}
          Tambah Jadwal<br>
          {% endif %}
          <small class="text-muted">Login required</small>
        </h3>
        {% include 'jadwal_form.html' %}
      </div>
    </div>
    {% else %}
    {% endif %}
  </div>
</body>

{% include 'filter_script.html' %}

</html>