<form action="" method="POST">
    {% csrf_token %}

    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="title">Nama Jadwal</label>
        <input id="nama" type="text" class="form-control" name="title" required value="{{obj.title}}">
      </div>
      <div class="form-group col-md-4">
        <label for="kelas">Kelas</label>
        <select id="inputState" class="form-control" name="kelas" required>
          {% for kelas in form.kelas%}
          {{kelas.tag}}
          <label for="{{kelas.id_for_label}}">
            {{kelas.choice_label}}
          </label>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="day">Hari</label>
        <select id="inputState" class="form-control" name="day" required>
          {% for day in form.day%}
          {{day.tag}}
          <label for="{{day.id_for_label}}">
            {{day.choice_label}}
          </label>
          {% endfor %}
        </select>
      </div>
      
      <div class="form-group col-md-4">
        <label for="start">Jam Mulai</label>
        <input type="time" id="inputMDEx1" class="form-control" name="start" value="{{obj.start|date:'H:i'}}" required>
        <div class="invalid-feedback">
            Please enter a message in the textarea.
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="start">Jam Selesai</label>
        <input type="time" id="inputMDEx1" class="form-control" name="end" value="{{obj.end|date:'H:i'}}" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="link">Link</label>
        <input type="url" class="form-control" id="link" name="link" value="{{obj.link}}" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="desc">Deskripsi</label>
        <textarea class="form-control" id="desc" rows="3" name="desc">{{obj.desc}}</textarea>
      </div>
    </div>
    {% if edit %}
    <button type="submit" class="btn btn-info" value="submit">Save</button>
    <a href="/jadwal">
      <button type="button" class="btn btn-danger">Cancel</button>
    </a>
    {% else %}
    <button type="submit" class="btn btn-primary" value="submit">Submit</button>
    {% endif %}
    {% for err in form.non_field_errors %}
    <div class="text-danger">{{err}}</div>
    {% endfor %}
  </form>