{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">


  <!-- Bootstrap CSS -->
  <link href="{% static 'assets/css/blk-design-system.min.css' %}" rel="stylesheet">

  <title>Testimoni Display</title>
  <style>
    
    body {
    padding-top: 110px;
    }

  </style>
</head>

<body> 
<div class="container">
  {% include 'navbar.html' %}
    <br>
    <h1>Pengalaman dan Testimoni dari Siswa</h1>

    <div class="col-md-12 text right">
      
        <a href="{% url 'testimoni_create' %}">
          <button type="button" class="btn btn-primary js-create-testimoni" >
            Tambahkan Testimonimu Disini
          </button>
        </a>
        
    </div>
    <br>

  <div class="card-columns">    
            
                  
    {% include 'partials/testimoni_display.html' %}

              
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous">
</script>

<script src="{% static 'js/testimoni_script.js' %}"></script>
</body>
</html>
