{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
    

    <!-- Bootstrap CSS -->
    <link href="{% static 'assets/css/blk-design-system.min.css' %}" rel="stylesheet">

    <title>Testimoni</title>
    <style>
      option {
        background-color: white;
        color: black;
      }
      body {
      padding-top: 40px;
      }
      
    </style>
  </head>

  <body>
<div class="container">
  <div class="shadow p-4 mb-5 bg-body rounded"> 
  <h1 class="title text-center">Tambah/Update Testimoni</h1>
  <br>
<form method="POST">
{% csrf_token %}
    <div class="form-group">
        {{form.nama.label_tag}}
        {{form.nama}} 
    </div>

    <br>

    <div class="form-group">
        {{form.kelas.label_tag}}
        {{form.kelas}}
    </div>

    <br>

    <div class="form-group">
        {{form.testimoni.label_tag}}
        {{form.testimoni}}
    </div>

    <br>


  <button class="btn-primary" type="submit">Submit</button>

</form>
</div>
</div>

<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous">
</script>
<script src="{% static 'js/testimoni_script.js' %}"></script>

</body>
</html>
