<!-- {% extends 'base-forum.html' %} -->
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'css/style-forum.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href=" {% static 'pendaftaransiswa/img/favicon.png' %}">

    <title>Welcome to Bibol</title>

    <style>
        #tulisan {
            color: #D051dd;
            font-size: 80px;
            font-style: italic;
            text-align: center;
            text-shadow: 3px 3px #743ca4;
            text-decoration: underline;
            float: center;
            margin-top: 200px;
        }
    </style>
</head>
<body>
    <h1 id="tulisan">Welcome to Bibol {{ user.get_username }}</h1>
</body>
</html>

{% endblock content %}
